fastapi 
pymongo
pydantic                    
sqlalchemy                     
jose                           
pydantic_settings              
jwt                            
mysql-connector-python         
pymysql                        
databases                       
aiomysql  
numpy 
pandas
scipy      
passlib  
typing
loguru
starlette
odmantic
mongoengine
fastapi_mail
jinja2
beanie
python-jose[cryptography]
python-jose[pycryptodome]
python-jose
bcrypt
