fastapi 
pymongo
pydantic                    
sqlalchemy                     
jose                           
pydantic_settings              
jwt                            
mysql-connector-python         
pymysql                        
databases                       
aiomysql  
numpy 
pandas
scipy      
passlib  
typing
loguru
starlette
odmantic
